<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <h2 class="text-center">Giriş Yap</h2>
        <div class="form-group">
          <label class="input-text" for="username">Kullanıcı Adı veya E Posta Adresi</label>
          <input #txtUsernameOrEmail type="text" class="form-control" id="username" placeholder="Kullancı Adı ya da E Posta Adresi" required>
          <small class="form-text text-muted invalid-feedback">***</small>
        </div>
        <div class="form-group">
          <label class="input-text" for="password">Şifre</label>
          <input #txtPassword type="password" class="form-control" id="password" placeholder="Şifre" required>
          <small class="form-text text-muted invalid-feedback">***</small>
        </div>
        <button style="margin-top: 0.8rem;" type="submit" class="btn btn-primary" (click)="login(txtUsernameOrEmail.value, txtPassword.value)">Giriş Yap</button>
    </div>
    <div class="col-md-4"></div>
</div>
