.product-create {
  height: 100%;
  display: flex;
  flex-direction: row;
  background-color: #f9f9f9;
}

/* Sol drawer içeriği (create formu) */
.create-drawer {
  width: 300px;
  padding: 20px;
  background-color: #ffffff;
  border-right: 1px solid #ddd;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.05);
}

/* Sağ içerik (ürün listesi) */
.product-list {
  flex: 1;
  padding: 20px;
  overflow-y: auto;
  background-color: #f5f7fa;
}

button.btn {
  align-self: flex-start;
  padding: 10px 24px;
  font-weight: 600;
  font-size: 14px;
  border-radius: 8px;
  transition: background-color 0.3s ease;
  margin: 20px;
}

button.btn:hover {
  background-color: #fae8f0; /* Daha koyu mavi */
}