<!-- Ana Sayfa Layout -->
<div class="main-container">
  <!-- Navbar -->
  <nav class="navbar navbar-expand-lg bg-light custom-navbar shadow-sm">
    <div class="container">
      <a class="navbar-brand fw-bold" routerLink="">Mini ETicaret</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0 gap-2">
          <li class="nav-item">
            <a class="nav-link" routerLink="">Anasayfa</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="products">Ürünler</a>
          </li>
          <!-- <li class="nav-item">
            <a class="nav-link" routerLink="basket">Sepet</a>
          </li> -->
          <li class="nav-item" *ngIf="!authService.isAuthenticated">
            <a class="nav-link" routerLink="register">Kayıt Ol</a>
          </li>
          <li class="nav-item" *ngIf="!authService.isAuthenticated">
            <a class="nav-link" routerLink="login">Giriş Yap</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated">
            <a class="nav-link text-danger" style="cursor: pointer;" (click)="signOut()">Çıkış Yap</a>
          </li>
          <li class="nav-item" *ngIf="authService.isAuthenticated">
            <a routerLink="admin" class="btn btn-outline-success btn-sm">Yönetim Paneli</a>
          </li>
        </ul>
        <div class="d-flex">
          <button type="button" class="btn btn-primary" (click)="loadComponent()" data-bs-toggle="modal"
            data-bs-target="#basketModal">
            Sepet
          </button>
        </div>
      </div>
    </div>
  </nav>

  <!-- İçerik -->
  <main class="content-area container mt-4">
    <router-outlet></router-outlet>
  </main>

  <!-- Footer / Pagination burada gösterilecekse -->
  <footer class="mt-auto pagination-footer">
    <!-- Pagination HTML buraya gelebilir -->
  </footer>
</div>


<ngx-spinner size="medium" name="s1" type="fire"></ngx-spinner>
<ngx-spinner size="medium" name="s2" type="ball-pulse-sync"></ngx-spinner>
<ngx-spinner size="medium" name="s3" type="ball-spin-clockwise-fade"></ngx-spinner>

<!-- <app-baskets></app-baskets> -->
<div class="modal fade" id="basketModal" tabindex="-1" aria-hidden="true">
  <div class="modal-dialog modal-lg">
    <ng-template appDynamicLoadComponent></ng-template>
  </div>
</div>