<mat-nav-list role="list" class="sidebar-list">
  <a mat-list-item routerLink="/admin" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    Dashboard
  </a>
  <a mat-list-item routerLink="customers" routerLinkActive="active-link">Müşteriler</a>
  <a mat-list-item routerLink="products" routerLinkActive="active-link">Ürünler</a>
  <a mat-list-item routerLink="orders" routerLinkActive="active-link">Siparişler</a>
  <a mat-list-item routerLink="authorize-menu" routerLinkActive="active-link">Yetkilendirme</a>
  <a mat-list-item routerLink="roles" routerLinkActive="active-link">Roller</a>
  <a mat-list-item routerLink="/" target="_blank">Siteyi Gör</a>
</mat-nav-list>
