<div class="modal-content">
    <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">Sepetim</h1>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
    </div>
    <div class="modal-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Ürün</th>
                    <th scope="col">Fiyat</th>
                    <th scope="col">Adet</th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr class="{{basketItem.basketItemId}}" *ngFor="let basketItem of basketItems; let i = index">
                    <th scope="row">{{i + 1}}</th>
                    <td>{{basketItem.name}}</td>
                    <td>{{basketItem.price}}</td>
                    <td>
                        <input type="number" style="width: 70px;" [value]="basketItem.quantity"
                            data-id="{{basketItem.basketItemId}}" (change)="changeQuantity($event)" />
                    </td>
                    <td>
                        <img src="../../../../assets/delete_icon.png" width="25" height="25" class="delete-icon"
                            (click)="removeBasketItem(basketItem.basketItemId)" />
                    </td>

                </tr>
            </tbody>
        </table>

    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Kapat</button>
        <button type="button" class="btn btn-primary">Alışverişi Tamamla</button>
    </div>
</div>