<div class="order-list-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="order-table">

    <!-- Order Code -->
    <ng-container matColumnDef="orderCode">
      <th mat-header-cell *matHeaderCellDef>Sipariş Kodu</th>
      <td mat-cell *matCellDef="let element">{{ element.orderCode }}</td>
    </ng-container>

    <!-- User Name -->
    <ng-container matColumnDef="userName">
      <th mat-header-cell *matHeaderCellDef>Kullanıcı Adı</th>
      <td mat-cell *matCellDef="let element">{{ element.userName }}</td>
    </ng-container>

    <!-- Total Price -->
    <ng-container matColumnDef="totalPrice">
      <th mat-header-cell *matHeaderCellDef>Toplam Tutar</th>
      <td mat-cell *matCellDef="let element">{{ element.totalPrice }}</td>
    </ng-container>

    <!-- Created Date -->
    <ng-container matColumnDef="createdDate">
      <th mat-header-cell *matHeaderCellDef>Sipariş Tarihi</th>
      <td mat-cell *matCellDef="let element">{{ element.createdDate }}</td>
    </ng-container>

    <!-- View Details -->
    <ng-container matColumnDef="viewDetails">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element">
        <img 
          src="../../../../../assets/view_details.png" 
          width="25" height="25"
          class="icon-button"
          alt="Detay"
          (click)="showDetail(element.id)"
        />
      </td>
    </ng-container>

    <!-- Delete -->
    <ng-container matColumnDef="delete">
      <th mat-header-cell *matHeaderCellDef></th>
      <td mat-cell *matCellDef="let element" 
          appDelete 
          [id]="element.id" 
          (callBack)="getOrders()" 
          controller="orders">
      </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

  <mat-paginator 
    (page)="pageChanged()" 
    [pageSizeOptions]="[5, 10, 20]" 
    showFirstLastButtons
    aria-label="Sayfa seçimi">
  </mat-paginator>
</div>
